# Environment variables
.env

# Logs
*.log

# Docker volumes
data/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Configuration pgAdmin générée par le script
config/pgadmin/servers.json

# Backup files
backups/
